<h1>
{{name}},  it works
</h1>

<ul>
  <li>Age:{{age}}</li>
  <li>Email:{{email}}</li>
  <li>Address:{{address.street}} , {{address.state}}</li>

</ul>

<button (click)="onClick()">Click ME</button>
<h1>Edit user</h1>
<form action="">
  <div>
    <label for="name">Name:</label><br>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
      <label for="email">Email:</label><br>
      <input type="text" [(ngModel)]="email" name="email">
  </div>
  <div>
      <label for="street">Street:</label><br>
      <input type="text" [(ngModel)]="address.street" name="street">
  </div>
  <div>
      <label for="city">City:</label><br>
      <input type="text"[(ngModel)]="address.city" name="city">
  </div>
  <div>
      <label for="city">State:</label><br>
      <input type="text"[(ngModel)]="address.state" name="state">
  </div>
</form>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">add Hobby</label>
    <input type="text" #hobby>
  </div>
</form>

<h1>hobbies</h1>
<ul>
  <li *ngFor = "let hobby of hobbies; let i =index">{{hobby}}<button (click) ="deleteHobby(hobby)"> X </button>
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts?.Trackdata">
  <h4>{{post?.Composer}}</h4>
  <p>{{post?.Name}}</p>
  <p>{{post?.TrackId}}</p>

</div>